*{
	padding:0;
	margin:0;
}

body{
	background-color: rgb(29,51,92);
	font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
}

header{
	background-image: url(../Imagenes/Plantilla.png);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width: 100vw;
	color: white;
}

header #menu{
    padding: 10px 0;
}

header #menu ul{
	margin:0;
	padding:0;
}

header #menu ul li{
	display: inline-block;
	padding: 1%;
	vertical-align: middle;
}

header #menu ul li a{
	display: inline-block;
	vertical-align: middle;
	color:white;
	text-decoration: none;
}

header #menu ul li a img{
    padding: 10px;
    color: white;
    text-decoration: none;
}

header #menu ul li a:hover{
	text-decoration: underline;
}

header #menu ul #logo{
    margin-right: 30%;
    margin-left: 8%;
}

/* ************************************ */

#main-container header main{
	margin:20px 0;
}

#main-container header main div{
	display:inline-block;
	vertical-align: middle;
}

#main-container header main .text h1{
	padding-left: 10vw;
}

#main-container header main .text p{
	padding-left: 10vw;
    font-size: 2vw;
}

#main-container header main .image{
    padding-left: 10vw;
	text-align: right;
	width: 20vw;
}

.layout{
	margin: 7%;
}

.layout h3{
	padding:15px;
	color:white;
}

.layout p{
	padding:1%;
	color:white;
        font-size: 2vw;
}

/* ************************************** */

    .swiper-container {
      width: 500px;
      height: 500px;
      padding: 50px;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 500px;
      height: 500px;
    }

/* ************************************** */

footer{
    background-color: black;
    padding: 150px 20px;
    color: white;
    font-size: 2vw;
    text-align: center;
}
